<!DOCTYPE html>
<html>

<head>

<title>Deepfake Detection</title>

<style>

body{
font-family:Arial;
text-align:center;
background:linear-gradient(135deg,#1c92d2,#f2fcfe);
padding-top:120px;
}

.container{
width:500px;
margin:auto;
background:white;
padding:40px;
border-radius:15px;
box-shadow:0 10px 30px rgba(0,0,0,0.3);
}

h1{
margin-bottom:40px;
}

button{
width:250px;
padding:15px;
font-size:18px;
margin:15px;
background:#1c92d2;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
}

button:hover{
background:#156fa8;
}

</style>

</head>

<body>

<div class="container">

<h1>Deepfake Detection System</h1>

<a href="/image/">
<button>Upload Image Detection</button>
</a>

<br>

<a href="/webcam/">
<button>Webcam Detection</button>
</a>

</div>

</body>

</html>